<h3>All Questions</h3>
<hr width="80%">

<div id="questions">
	<% @questions.each do |question| %>
		<%= render :partial => "questions/question", :locals => { question: question} %>
	<% end %>
</div>

<%= will_paginate @questions %>


