<%= render :partial => "shared/top_bar", :locals => { link: "most_recent" } %>

<%= render :partial => "shared/index_sidebar", :locals => { topics: @topics } %>

<div id="most_recent_stories">
	<%= render :partial => "shared/question_loop",
		:locals => { questions: @questions } %>
</div>

<%= will_paginate @questions %>