<%= render :partial => "shared/top_bar", :locals => { link: "top_questions" } %>

<%= render :partial => "shared/index_sidebar", :locals => { topics: @topics } %>

<div id="top_stories">
	<%= render :partial => "shared/question_loop",
		:locals => { questions: @questions } %>
</div>