<h2>About Quora Clone</h2>
<div class="hero-unit" style="width:1000px">
	<p>
		Hi! This is Dominic Wong’s final project at App Academy.
		My mission is to clone Quora in a week.
		This web application looks just like Quora,
		so if you are a regular visitor to Quora,
		I am sure you already know how to navigate around. :)
	</p>

	<h4>Features:</h4>
	<ul>
		<li>Questions and Answers</li>
		<li>Upvote and Downvote</li>
		<li>Follow and Unfollow (User, Question, Topic)</li>
		<li>Notifications</li>
		<li>Feeds</li>
		<li>Real-Time Messaging</li>
		<li>User profiles</li>
		<li>Full-site search (User, Question, Topic)</li>
	</ul>
</div>