<div class="hero-unit" style="width:1000px">
	<h1>Hi. There is no job to be found, but you can hire me!</h1>

	<h3>See my profiles
		<a href="https://www.linkedin.com/pub/ching-nam-wong/25/652/274/">here</a>,
		<a href="https://www.facebook.com/dominic.wong.617">here</a>, and
		<a href="https://twitter.com/dominicwong617">here.</a>
	</h3>
</div>

