<div id="index_sidebar">
	<hr>
	<strong><%= link_to "Ask a Question", new_question_url, :id => 'create_question' %></strong><br />
	<strong><%= link_to "Unanswered Questions", unanswered_questions_url%></strong>
	<hr>
	<h5>Trending Topics</h5>
	<% Topic.trending_topics[0..5].each do |topic| %>
		<strong><%= link_to topic.name, topic_url(topic) %></strong><br />
	<% end %>
	<hr>
	<h5>Review</h5>
	<strong><%= link_to "All Questions", questions_url %></strong>
	<hr>
	<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdominic-wong-quora-clone.herokuapp.com/" target="_blank">
	  Share on Facebook
	</a><br /><br />
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dominic-wong-quora-clone.herokuapp.com/" data-via="dominicwong617">
		Tweet
	</a>
</div>

<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

