// Place all the styles related to the FollowUserRelationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow_user {
	float:right;
	padding-right:150px;
	padding-top:20px;
}

.unfollow_user {
	float:right;
	padding-right:150px;
	padding-top:20px;
}