// Place all the styles related to the FollowTopicRelationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow_topic {
	float:right;
	padding-right:30px;
	padding-top:20px;
}

.unfollow_topic {
	float:right;
	padding-right:30px;
	padding-top:20px;
}

.followers {
	float:right;
	padding-right:40px;
	padding-top:25px;
}