// Place all the styles related to the Footers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#personal_cv {
	position:absolute;
	padding-left:200px;
	margin-top:50px;
}

.footer {
	height:50px;
	margin-top:200px;
}