// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
	display:none;
}

.vote {
	.downvote {
		display:none;
	}
}

.unvote {
	.upvote {
		display:none;
	}
}

.all_ans_count {
	padding-right:20px;
}

.add_topic {
	float:left;
}

#tags {
	float:left;
	padding-right:30px;
}