#user_profile_content {
	padding-left:50px;
	float:left;
}

.avatar {
	width:140px;
	height:140px;
	float:left;
	position:absolute;
}

.left_bar {
	float:left;
	position:absolute;
	padding-top:200px;
}