<footer class="footer">
	<hr>
	<div id="navcontainer">
		<ul id="navlist">
			<li><a href="#">About Quora Clone</a></li>
			<li><%= link_to "Careers", careers_url %></li>
			<li>
				<a href="mailto:dominic.wong.617@gmail.com?subject=Hi%20Dominic%20Wong">
					Contact Me
				</a>
			</li>
		</ul>
	</div>
</footer>