<footer class="footer">
	<hr>
	<div id="navcontainer">
		<ul id="navlist">
			<li><a href="#">About Quora Clone</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Developers</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
</footer>